---
import Layout from '@/layouts/Layout.astro';

interface Thumbnail {
    url: string;
    width: number;
    height: number;
}

interface VideoItem {
    id: {videoId: string};
    snippet: {
        title: string;
        thumbnails: {
            default: Thumbnail;
            medium: Thumbnail;
            high: Thumbnail;
            [key: string]: Thumbnail;
        };
    };
}

const videoList: VideoItem[] = [];

const apiUrl = new URL('https://www.googleapis.com/youtube/v3/search');
apiUrl.searchParams.set('key', 'AIzaSyCtcnX4AVQTwXli0nwf2U64etiLBraUrzY');
apiUrl.searchParams.set('channelId', 'UCsgl7t1YLlLlggy5escAKqQ');
apiUrl.searchParams.set('part', 'snippet,id');
apiUrl.searchParams.set('order', 'date');
apiUrl.searchParams.set('type', 'video');
apiUrl.searchParams.set('maxResults', '5');

let nextPage = '';
while (nextPage != null) {
    apiUrl.searchParams.set('pageToken', nextPage);
    const res = await (await fetch(apiUrl)).json();
    videoList.push(...(res?.items || []));
    nextPage = res.nextPageToken;
}
---

<Layout title="Videos">
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 sm:gap-8 md:grid-cols-3 lg:grid-cols-4">
        {
            videoList?.map(info => (
                <a target="_blank" rel="noopener noreferrer" href={`https://www.youtube.com/watch?v=${info.id.videoId}`}>
                    <div class="border-border rounded-md border-2 transition hover:scale-103">
                        <img
                            loading="lazy"
                            class="object-cover aspect-video"
                            alt={info.snippet.title}
                            srcset={Object.values(info.snippet.thumbnails)
                                .map(e => `${e.url} ${e.width}w`)
                                .join(', ')}
                        />
                        <div class="text-text p-4 text-start text-sm font-bold">
                            <span>{info.snippet.title}</span>
                        </div>
                    </div>
                </a>
            ))
        }
    </div>
</Layout>
