---
import Layout from '@/layouts/Layout.astro';
import {Image} from 'astro:assets';
import gamesImg from '@/assets/game_images/Untitled.png';
import ExternalCard from '@/components/index/ExternalCard.astro';
import {FaCoffee, FaDiscord, FaGithub, FaYoutube} from 'react-icons/fa';
import shadPS4Logo from '@/assets/shadPS4Logo.png';
import BlogPreview from '@/components/index/BlogPreview.astro';
---

<Layout title="Home">
    <div class="relative flex min-h-[45vh] w-full flex-col items-center justify-center overflow-hidden rounded-2xl py-12 sm:min-h-[45vh]">
        <Image src={gamesImg} alt="Games" loading="eager" class="absolute inset-0 -z-10 h-full w-full mask-x-from-20% mask-x-to-100% object-cover opacity-30" />

        <!-- Text overlay -->
        <div class="flex flex-col items-center gap-y-6 px-4 text-center sm:gap-y-12">
            <div class="flex flex-col items-center gap-4 sm:flex-row sm:gap-x-8">
                <Image src={shadPS4Logo} alt="shadps4_logo" class="size-16 rounded-sm sm:size-24" loading="eager" />
                <span class="text-text text-5xl font-bold sm:text-7xl lg:text-8xl">shadPS4</span>
            </div>

            <span class="text-text max-w-2xl text-base font-semibold sm:text-xl">
                shadPS4 is an early PlayStation 4 emulator for Windows, Linux and macOS written in C++
            </span>
        </div>
    </div>

    <!-- Cards -->
    <div class="mt-12 grid grid-cols-1 gap-6 md:grid-cols-2 lg:gap-8 xl:px-32">
        <!-- GitHub -->
        <ExternalCard
            href="https://github.com/shadps4-emu/shadPS4"
            aria="GitHub repository"
            icon={FaGithub}
            primary_color="oklch(0.97 0.01 0)"
            secondary_color="oklch(0.1 0.02 248.35)"
            name="GitHub"
            tag="Contributing Code"
            description="Built by a community of passionate developers and problem-solvers, who contribute in their free time. Pull requests are always welcome! Have a look at the code and file an issue, or open a pull request. Small commits, big dreams."
            button="Explore repo"
        />

        <!-- Discord -->
        <ExternalCard
            href="https://discord.gg/bFJxfftGW6"
            aria="Discord server"
            icon={FaDiscord}
            primary_color="#5864F2"
            secondary_color="oklch(0.97 0.01 0)"
            name="Discord"
            tag="Support and general discussions"
            description="If you need help, have questions, or just want to chat, join our Discord server!"
            button="Join server"
        />

        <!-- YouTube -->
        <ExternalCard
            href="https://www.youtube.com/@gmoralistube"
            aria="Youtube channel"
            icon={FaYoutube}
            primary_color="#FF0033"
            secondary_color="white"
            name="YouTube"
            tag="For demos or previews of upcoming releases"
            description="Watch the emulator progress on our YouTube channel, where we post demos, previews of games that show emulation progress, and more."
            button="Watch"
        />

        <!-- Ko-fi -->
        <ExternalCard
            href="https://ko-fi.com/shadps4"
            aria="Support on Ko-fi"
            icon={FaCoffee}
            primary_color="oklch(0.97 0.01 0)"
            secondary_color="oklch(0.68 0.21 38.31)"
            name="Ko-fi"
            tag="Optional donations"
            description="If shadPS4 fixes your nostalgia, a coffee helps developing efforts, such as purchasing necessary hardware, games, and project maintenance costs."
            button="Donate"
        />
    </div>

    <!-- Blog Preview heading-->
    <div class="mt-20 mb-8">
        <h2 class="text-text text-2xl font-bold sm:text-3xl">Latest blog posts</h2>
        <p class="mt-2 text-lg text-zinc-800 dark:text-zinc-100">
            Find out about the latest updates on shadPS4. Read more <a class="font-bold underline" href="/shadps4-test/blog">here</a>.
        </p>
    </div>

    <!-- Blog preview card -->
    <BlogPreview />
</Layout>
