---
import shadPS4Logo from '/src/assets/shadPS4Logo.png';
import {Image} from 'astro:assets';
import AboutPopover from './AboutPopover.astro';
import GalleryPopover from './GalleryPopover.astro';
import {FaCoffee, FaDiscord, FaGithub, FaTwitter, FaYoutube} from 'react-icons/fa';
import ThemeIcon from './ThemeIcon.astro';

const {pages, external} = Astro.props;
---

<header>
    <nav class="mb-16 flex h-16 w-full items-center justify-between border-b border-border bg-header px-4">
        <!-- Logo -->
        <div class="flex items-center gap-x-2 lg:flex-row w-fit">
            <Image src={shadPS4Logo} alt="shadps4_logo" class="size-7 rounded-sm" loading="eager" />
            <span class="text-lg/6 font-semibold text-text">ShadPS4</span>
        </div>

        <!-- Menu -->
        <div class="hidden flex-row gap-x-4 lg:flex">
            {
                pages.map(item => (
                    <a href={item.href} class="text-lg/6 font-semibold text-text">
                        {item.name}
                    </a>
                ))
            }
            <GalleryPopover />
            <AboutPopover />
        </div>

        <!-- Tags -->
        <div class="hidden flex-row justify-evenly gap-x-4 lg:flex">
            <div class="flex flex-row gap-x-4 justify-center items-center">
                {
                    external.map(item => (
                        <a aria-label={item.name} href={item.href} class="text-sm/6 font-semibold text-text">
                            <item.icon className="size-7" />
                        </a>
                    ))
                }
            </div>
            <div class="h-10 mx-auto w-1 dark:bg-gray-100 bg-gray-700 rounded-sm"></div>
            <ThemeIcon />
        </div>

        <!-- Mobile trigger -->
        <div class="block size-7 bg-white lg:hidden"></div>
    </nav>
</header>
