---
const {href, aria, icon: Icon, primary_color, secondary_color, name, tag, description, button} = Astro.props;
---

<a
    href={href}
    class="group bg-compat-card border-border text-text flex transform flex-col justify-between rounded-xl border p-6 shadow-md ease-in-out hover:-translate-y-1 hover:shadow-lg hover:transition"
    aria-label={aria}
>
    <div class="flex flex-col">
        <div class="flex items-center gap-3">
            <div class="rounded-full p-2 text-2xl" style={`background-color: ${primary_color};`}>
                {Icon && <Icon className="size-8" style={secondary_color ? {color: secondary_color} : {}} />}
            </div>
            <div>
                <h3 class="text-lg font-bold">{name}</h3>
                <p class="text-sm">{tag}</p>
            </div>
        </div>
        <p class="mt-4 text-sm">
            {description}
        </p>
    </div>

    <div>
        <div class="mt-6 flex items-center gap-3">
            <span class="border-border bg-root ml-auto inline-flex items-center gap-2 rounded-md border px-3 py-1 text-xs">
                {button}
            </span>
        </div>
    </div>
</a>
