---
import '@/styles/global.css';
import Header from '@/components/header/Header.astro';
import Footer from '@/components/Footer.astro';
import TableOfContents from '@/components/blog/TableOfContents.astro';
import {Image} from 'astro:assets';
import favicon from '/public/favicon.svg';

const {title, frontmatter, headings} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href={favicon.src} />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-root flex min-h-screen flex-col">
        <Header />

        <main class="mx-auto flex w-full max-w-[1850px] flex-1 flex-col gap-y-8 px-4 sm:px-6 lg:px-8">
            <div class="px-6 lg:px-8">
                <div class="mx-auto mt-16 max-w-2xl lg:max-w-7xl">
                    {
                        frontmatter.pubDate && (
                            <h2 class="font-mono text-xs/5 font-semibold tracking-widest text-gray-500 uppercase dark:text-gray-400">
                                {new Date(frontmatter.pubDate).toDateString()}
                            </h2>
                        )
                    }
                    <h1 class="mt-2 text-4xl font-medium tracking-tighter text-pretty text-gray-950 sm:text-6xl dark:text-white">
                        {frontmatter.title}
                    </h1>

                    <div class="mt-16 grid grid-cols-1 gap-8 pb-24 lg:grid-cols-[15rem_1fr] xl:grid-cols-[15rem_1fr_15rem]">
                        <aside class="flex max-h-[calc(100vh-6rem)] flex-col gap-8 self-start overflow-y-auto lg:sticky lg:top-24">
                            {
                                frontmatter.tags && (
                                    <div>
                                        <h3 class="mb-4 text-sm font-semibold text-zinc-800 dark:text-zinc-100">Tags</h3>
                                        <div class="flex flex-wrap gap-2">
                                            {frontmatter.tags.map(tag => (
                                                <div class="border-border bg-compat-card rounded-full border px-2 text-sm/6 font-medium text-gray-500">
                                                    {tag}
                                                </div>
                                            ))}
                                        </div>
                                    </div>
                                )
                            }
                            {
                                frontmatter.category && (
                                    <div>
                                        <h3 class="mb-4 text-sm font-semibold text-zinc-800 dark:text-zinc-100">Category</h3>
                                        <div class="font-bold text-blue-600/90">{frontmatter.category}</div>
                                    </div>
                                )
                            }
                            {
                                headings && headings.length > 0 && (
                                    <div class="hidden lg:block">
                                        <TableOfContents headings={headings} />
                                    </div>
                                )
                            }
                        </aside>

                        <div class="text-text prose dark:prose-invert prose-hr:my-4 max-w-2xl xl:mx-auto">
                            {
                                frontmatter.image && (
                                    <Image
                                        src={frontmatter.image}
                                        alt={frontmatter.title}
                                        class="mb-10 aspect-video w-full rounded-lg object-cover shadow-xl"
                                        loading="eager"
                                    />
                                )
                            }
                            <div class="text-wrap overflow-x-auto">
                                <slot />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <Footer />
    </body>
</html>
